<div class="custom-content">
  {% for block in section.blocks %}
    <div class="custom__item one-half">
      <div class="custom__item-inner custom__item-inner--html">
        {% case block.type %}
          {% when 'html' %}
            {% if block.settings.code != blank %}
              <div class="rte">
                {{ block.settings.code }}
              </div>
            {% else %}
              <div class="rte text-center">
                <p>No Content</p>
              </div>
            {% endif %}
        {% endcase %}
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}

{
  "name": {
    "en": "2 column layout"
  },
  "max_blocks": 9,
  "blocks": [
    {
      "type": "html",
      "name": {
        "en": "Custom HTML"
      },
      "settings": [
        {
          "type": "html",
          "id": "code",
          "label": {
            "en": "HTML"
          },
          "default": {
            "en": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>"
          }
        },
        {
          "type": "select",
          "id": "width",
          "label": {
            "en": "Container width"
          },
          "default": "50%",
          "options": [
            {
              "value": "50%",
              "label": {
                "en": "50%"
              }
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "2 column layout"
      },
      "category": {
        "en": "Advanced layout"
      },
      "blocks": [
        {
          "type": "html"
        }
      ]
    }
  ]
}
{% endschema %}
